<launch>
	<param name="use_sim_time" value="true" />
	<arg name="cam4" default="0" />
	<arg name="usebag_tf" defualt="0" />
	<arg name="path" default="/home/fnolden/bagfile/" />
	<arg name="files" default="$(arg path)barney_description_2014-10-28-23-17-28_1.bag 
							   $(arg path)barney_diag_2014-10-28-23-17-28_1.bag
							   $(arg path)barney_ladybug_2014-10-28-23-17-27_1.bag
							   $(arg path)barney_diag_2014-10-28-23-17-28_1.bag
							   $(arg path)barney_scans_2014-10-28-23-17-27_1.bag
							   $(arg path)barney_scans_gen_2014-10-28-23-17-27_1.bag
							   " />

	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate 0.2 $(arg files)">
		<remap unless="$(arg usebag_tf)" from="/tf" to="/tf_old" />
	</node>
	
	<include file="$(find start)/launch/remap.launch" if="false"/>
	
	<!-- Calibration -->
  	<include file="$(find image_cloud)/launch/manual_calibration.launch"/>
	
 	<!-- Vision -->
    <include file="$(find ladybug)/launch/nodelet.launch"/>
    
    <group if="$(arg cam4)">
   	 	<include file="$(find start)/launch/pointcloud_to_image.launch">
   	 		<arg name="nodelet_manager" value="ladybug_nodelet"/>
   	 	</include>
    </group>
    
   
   <!-- get static transforms -->
   <include file="$(find barney)/launch/ekf.launch"  unless="$(arg usebag_tf)" />
   
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find barney)/urdf/barney.urdf.xacro'"  if="$(arg usebag_tf)"/>
   <include file="$(find barney)/launch/description.launch" unless="$(arg usebag_tf)">
		<arg name="demo" value="true"/>
	</include>
   <include file="$(find barney)/launch/transforms.launch" unless="$(arg usebag_tf)" />

    <!-- start filter -->
   <include file="$(find cloud_aggregator)/launch/aggregator.launch" />
   <include file="$(find pcl_filter)/launch/filter.launch" />
</launch>