<?xml version="1.0"?>
<launch>
 
   <param name="robot_description" command="$(find xacro)/xacro.py '$(find barney)/urdf/barney.urdf.xacro'" />
    
    <!-- start filter -->
   <include file="$(find cloud_aggregator)/launch/aggregator.launch" />
   <include file="$(find pcl_filter)/launch/filter.launch" />

   <!-- start stuff for demonstration (not important for executing) -->
   <node pkg="maskor_common" type="pose_to_odom" name="pose_to_odom" />
   
   <include file="$(find start)/launch/nodelet_manager.launch" />
   <include file="$(find start)/launch/cam4.launch" />
   <include file="$(find start)/launch/cloud.launch" />
</launch>
