<launch>
  <arg name="camera" default="4" />
  <arg name="nodelet_manager" default="ladybug_nodelet" />
  <param name="foo" value="$(arg nodelet_manager)" />
  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_image" args="load image_cloud/Pcl_to_image_nodelet $(arg nodelet_manager)" output="screen">
	  	<param name="subscribe_topic_pcl" type="string" value="/velodyne/cloud" />
	  	<param name="subscribe_topic_img_info" type="string" value="/ladybug5/camera$(arg camera)/camera_info" />
	  	<param name="publish_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud" />
	  	<param name="image_tf_frame_id"  type="string" value="ladybug_camera$(arg camera)" />
	  	<param name="resize_x"  type="double" value="1" />
	  	<param name="resize_y"  type="double" value="1" />
	  </node>
	  
	  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_blur" args="load image_cloud/Blur $(arg nodelet_manager)" output="screen">
	  	<param name="subscribe_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud" />
	  	<param name="publish_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud_blur" />
	  	<param name="filter"  type="int" value="2" />
	  	<param name="kernel"  type="int" value="13" />
	  </node>
	  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_blur_dilate" args="load image_cloud/Dilate $(arg nodelet_manager)" output="screen">
	  	<param name="subscribe_topic" 	value="/ladybug5/camera$(arg camera)/point_cloud_blur" />
	  	<param name="publish_topic" 	value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate" />
	  </node>
	  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_blur_dilate_erode" args="load image_cloud/Erode $(arg nodelet_manager)" output="screen">
	  	<param name="subscribe_topic" 	value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate" />
	  	<param name="publish_topic" 	value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate_erode" />
	  </node>
	  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_blur_dilate_erode_edge" args="load image_cloud/Edge_detector_nodelet $(arg nodelet_manager)" output="screen">
		<param name="subscribe_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate_erode" />
		<param name="publish_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate_erode_edge" />
		<param name="kernel_size"  	  type="int" value="5" />
		<param name="threshold1"  type="int" value="50" />
		<param name="threshold2"  type="int" value="200" />
		<param name="color"  	  type="bool" value="false" />
	  </node>
	  
	  <node pkg="nodelet" type="nodelet" name="pointcloud$(arg camera)_blur_dilate_edge" args="load image_cloud/Edge_detector_nodelet $(arg nodelet_manager)" output="screen">
		<param name="subscribe_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate" />
		<param name="publish_topic" type="string" value="/ladybug5/camera$(arg camera)/point_cloud_blur_dilate_edge" />
		<param name="kernel_size"  	  type="int" value="5" />
		<param name="threshold1"  type="int" value="50" />
		<param name="threshold2"  type="int" value="200" />
		<param name="color"  	  type="bool" value="false" />
	  </node>
</launch>